
<div class="topEmail">
   <i> {{email}} </i>
</div>
<div class="background-page">
<div class="container ">

<div class="row">
        <h1 class="text-center capriola" >Your Guides</h1>

        <div class="list-group">
            <div  ng-repeat="item in guides" >

                        <div class="col-sm-4">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <carousel>
                                            <div ng-if="!item.image">
                                                <img style="height: 220px;  width:100%;" src="assets/images/empty_photo.png"  alt="" />
                                            </div>
                                            <div ng-if="item.image">
                                                <img  style="height: 220px;  width:100%;" ng-src="{{item.image}}"  alt="" />
                                            </div>
                                        </carousel>
                                        <h4>{{item.name}}</h4>
                                        <button class="btn btn-default btn-sm capriola button-item" ng-click="moreInfo(item.id)" >
                                            Details <span class="glyphicon glyphicon-info-sign "></span>
                                        </button>
                                        <button ng-show="!item.shared" class="btn btn-success btn-sm capriola button-item" ng-click="shareTrip(item.id,true)"  >
                                            Share <span class="glyphicon glyphicon-plus-sign "></span>
                                        </button>
                                        <button ng-show="item.shared" class="btn btn-danger btn-sm capriola button-item" ng-click="shareTrip(item.id,false)">
                                            Unshared <span class="glyphicon glyphicon-minus-sign "></span>
                                        </button>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h4>{{item.name}}</h4>
                                            <div ng-show="item.description != null" style="display: block">
                                                <div class="col-sm-12 col-md-12 panel panel-default scrollable" style="max-height: 165px;overflow-y: auto">
                                                    <div class="text-justify capriola" >{{item.description}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
</div>
</div>
</div>