@import url(https://fonts.googleapis.com/css?family=Capriola);
.main-content{
  padding-bottom: 20px;
}



#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-family: Capriola, Helvetica, sans-serif;
}



#cssmenu {
  width: auto;
  height: 59px;
  margin-bottom: 20px;
}

#cssmenu.align-right {
  float: right;
}
#cssmenu.align-right ul li {
  float: right;
  margin-right: 0;
  margin-left: 4px;
}
#cssmenu.align-right ul li:first-child,
#cssmenu.align-right ul li:first-child > a {
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one,
#cssmenu #bg-two,
#cssmenu #bg-three,
#cssmenu #bg-four {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu #bg-one {
  height: 10px;
  background: #0f71ba;
}
#cssmenu #bg-two {
  height: 59px;
  z-index: 2;
  background: url('images/bg.png');
}

#cssmenu #bg-three {
  bottom: 4px;
  height: 55px;
  z-index: 3;
  background: #222222;
  background: -moz-linear-gradient(top, #555555 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #555555 0%, #222222 100%);
  background: -o-linear-gradient(top, #555555 0%, #222222 100%);
  background: -ms-linear-gradient(top, #555555 0%, #222222 100%);
  background: linear-gradient(to bottom, #555555 0%, #222222 100%);
}
#cssmenu #bg-four {
  bottom: 4px;
  height: 55px;
  z-index: 4;
  background: url('images/bg.png');
}


#cssmenu ul {
  height: 59px;
}
#cssmenu ul li {
  float: left;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: 5;
}
#cssmenu ul li a {
  padding: 24px 30px 20px 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-right:1px solid;
  color: #41474f;
  font-size: 15px;
  text-decoration: none;
}

#cssmenu ul li:hover,
#cssmenu ul li.active {
  background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
}

#cssmenu ul li a:hover,
#cssmenu ul li.active > a {
  color: #ffffff;
  background: url('images/bg.png');
}


header .intro-text {
  padding-top: 50px;
  padding-bottom: 50px;

}

.carousel-caption {
  max-width: 550px;
  padding: 0 20px;
  margin:0 auto;
  margin-top: 50px;
  text-align:center;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 50px;
  font-style: italic;
  line-height: 40px;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.2);


}


@media(min-width:768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }


  .carousel-caption {
    max-width: 550px;
    padding: 0 20px;
    top: 0;
    bottom: auto;
    text-align:center;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-style: italic;
    line-height: 40px;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);


  }



}


.panel-image-modal{
  max-height:400px;
  min-width: 100%;
}

.image-modal{
  margin-left: 0px;
  margin-right: 0px;
  //margin-right: auto;
}
.carousel-fixed-height{
  height: 500px;
  margin-left: 0px;
  min-width: 100%;
}

.background-page{
  background: url('images/top-page-back.png') repeat;

div.container_top{
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  background-color: #323231;
}

}



/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
  position: fixed;
  top: 0;
  z-index:10;
  -webkit-transition: all .6s ease-in-out;
}

#footer > .container {

}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
    float:none;
  }
}

.navbar-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* customize nav style */
.navbar-custom {
  background-color: #2e2e2e;
  font-weight:700;
  text-transform:uppercase;
  border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
  color: #ddd;
}
.navbar-custom  .dropdown-menu li>a:hover {
  color: #eee;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
  background-color: #000;
}
.navbar-nav .active{
  color: #0f71ba;
  background-color: #FFFFFF;


}
.navbar-custom .navbar-nav>.dropdown>a .caret {
  border-top-color: #999;
  border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
  overflow-y: visible;
}

.navbar-toggle {
  outline:0;
}

.divider {
  height:50px;
}

.panel {
  border-width:0;
}

@media (max-width: 768px) {
  header {

  }
}


