<div class="top-view">
    <div class="container " >
        <h3 class="text-capitalize text-center" style="font-family: Capriola;">Welcome to {{city.name}}</h3>
        <div ng-if="isGuides()">
            <div class="row background-carousel">
                <carousel interval="intervalImages" class="carousel-fixed-height col-md-8 col-md-offset-2" style="padding: 0px">
                    <slide ng-repeat="image in images" active="image.active" style=" height:100%;width:100%;">
                        <img ng-src="{{image.url}}" style=" height:100%;width:100%;" >
                    </slide>
                </carousel>
            </div>
        </div>
        <div ng-if="!isGuides()"  >
            <map marker-array-selected="markerArraySelected" marker-array-list="markerArrayList" map-id="cityMap" initposition="city" type="roadmap" class="mapContainer" ></map>
        </div>
    </div>
</div>

<div id='cssmenu'>
    <ul>
        <li class='active'><a ui-sref="guides"  data-target="#" data-toggle="pill"><span>Guides</span></a></li>
        <li><a ui-sref="culture" ng-click="setCurrentList('culture')" data-target="#" data-toggle="pill"><span>Culture</span></a></li>
        <li><a ui-sref="entertainment" ng-click="setCurrentList('entertainment')" data-target="#" data-toggle="pill"><span>Entertainment</span></a></li>
        <li><a ui-sref="hotel" ng-click="setCurrentList('hotel')" data-target="#" data-toggle="pill"><span>Hotel</span></a></li>
        <li><a ui-sref="utility" ng-click="setCurrentList('utility')" data-target="#" data-toggle="pill"><span>Utility</span></a></li>
        <li><a ui-sref="food" ng-click="setCurrentList('food')" data-target="#" data-toggle="pill"><span>Food</span></a></li>


        <li class='last'><a ui-sref="dates" data-target="#" data-toggle="pill"><span>Plan Trip</span></a></li>
    </ul>

</div>

<div class="container">
    <div ui-view="content" class="fill"></div>
</div>



    <div class="modal fade" ng-controller="ModalCtrl" data-backdrop="static" id="moreInfoModalPlace" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div ng-show="modalEnabled">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="disableModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title capriola" id="myModalLabel">More Information about {{moreInfoSelection.name}}</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div ng-show="modalEnabled">
                            <div class="container-fluid capriola">
                            <div class="row">
                                <div class="col-md-6 capriola" >
                                    <div class="row">
                                        <b>Rating</b>
                                    </div>
                                    <div class="row">
                                        <rating ng-model ="moreInfoSelection.rating" ></rating>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <b>Price</b>
                                    </div>
                                    <div class="row">
                                        {{moreInfoSelection.price || 'Unknown'}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6" >
                                    <div class="row">
                                        <b>Phone</b>
                                    </div>
                                    <div class="row">
                                        {{moreInfoSelection.international_phone}}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <b>Address</b>
                                    </div>
                                    <div class="row">
                                        {{moreInfoSelection.formatted_address}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" >
                                    <div class="row">
                                        <b>Web Site</b>
                                    </div>
                                    <div class="row" style="word-wrap: break-word;">
                                        <a target="_blank" ng-href="{{moreInfoSelection.web_site}}">{{moreInfoSelection.web_site}}</a>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="moreInfoSelection.open_hours != null">
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="text-capitalize text-center">
                                        <b>Open Hours</b>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="panel panel-info">
                                        <div>
                                            <div class="text-center">Sunday</div>
                                            <div class="text-center" ng-repeat="couple in moreInfoSelection.open_hours[0].hours">
                                                {{couple.open}} - {{couple.close}}
                                            </div>
                                            <div ng-if="moreInfoSelection.open_hours[0] == null">
                                                <div class="text-center">
                                                    <b>Closed</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="panel panel-info">
                                        <div>
                                            <div class="text-center">Monday</div>
                                            <div class="text-center" ng-repeat="couple in moreInfoSelection.open_hours[1].hours">
                                                {{couple.open}} - {{couple.close}}
                                            </div>
                                            <div ng-if="moreInfoSelection.open_hours[1] == null">
                                                <div class="text-center">
                                                    <b>Closed</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="panel panel-info">
                                        <div>
                                            <div class="text-center">Tuesday</div>
                                            <div class="text-center" ng-repeat="couple in moreInfoSelection.open_hours[2].hours">
                                                {{couple.open}} - {{couple.close}}
                                            </div>
                                            <div ng-if="moreInfoSelection.open_hours[2] == null">
                                                <div class="text-center">
                                                    <b>Closed</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="panel panel-info">
                                        <div>
                                            <div class="text-center">Wednesday</div>
                                            <div class="text-center" ng-repeat="couple in moreInfoSelection.open_hours[3].hours">
                                                {{couple.open}} - {{couple.close}}
                                            </div>
                                            <div ng-if="moreInfoSelection.open_hours[3] == null">
                                                <div class="text-center">
                                                    <b>Closed</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="panel panel-info">
                                        <div>
                                            <div class="text-center">Thursday</div>
                                            <div class="text-center" ng-repeat="couple in moreInfoSelection.open_hours[4].hours">
                                                {{couple.open}} - {{couple.close}}
                                            </div>
                                            <div ng-if="moreInfoSelection.open_hours[4] == null">
                                                <div class="text-center">
                                                    <b>Closed</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="panel panel-info">
                                        <div>
                                            <div class="text-center">Friday</div>
                                            <div class="text-center" ng-repeat="couple in moreInfoSelection.open_hours[5].hours">
                                                {{couple.open}} - {{couple.close}}
                                            </div>
                                            <div ng-if="moreInfoSelection.open_hours[5] == null">
                                                <div class="text-center">
                                                    <b>Closed</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="panel panel-info">
                                        <div>
                                            <div class="text-center">Saturday</div>
                                            <div class="text-center" ng-repeat="couple in moreInfoSelection.open_hours[6].hours">
                                                {{couple.open}} - {{couple.close}}
                                            </div>
                                            <div ng-if="moreInfoSelection.open_hours[6] == null">
                                                <div class="text-center">
                                                    <b>Closed</b>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="panel-image-modal">
                                            <carousel interval="intervalImages" >
                                                <slide ng-repeat="image in moreInfoSelection.photos" active="image.active">
                                                    <img class="image-modal" style="height: 400px" ng-src="data:image/JPEG;base64,{{image.image}}" >
                                                </slide>
                                            </carousel>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-center">
                                        <b>Reviews</b>
                                    </p>
                                    <span ng-repeat="review in moreInfoSelection.reviews">
                                        <div class="panel-group" id="{{review.author_name}}">
                                            <div class="panel  panel-info">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#{{review.author_name}}" data-target="#{{$index}}">{{review.author_name}}</a>
                                                    </h4>
                                                </div>
                                                <div id="{{$index}}" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <p class="text-left">
                                                            <b>Ratings</b>
                                                        </p>
                                                        <div class="star-rating">
                                                            <span ng-repeat="aspect in review.aspects">
                                                                <div class="row">
                                                                    <div class="col-md-3">
                                                                        <b class="text-capitalize">{{aspect.type}}</b>
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <rating ng-model="aspect.rating" readonly="true" max=3></rating>
                                                                    </div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p class="text-left">
                                                                    <b>Comment</b>
                                                                </p>
                                                                {{review.text}}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <em>
                                                                    <span>{{changeDate(review.time)}}</span>
                                                                </em>
                                                            </div>
                                                            <div class="row">
                                                                <em>
                                                                    Contact User <a target="_blank" ng-href="{{review.author_url}}">GooglePlus!</a>
                                                                </em>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                   </div>
                                  </span>

                                </div>
                            </div>
                        </div>
                        </div>
                        <div ng-show="loaderEnabled">
                            <div class="container-fluid">
                                <div class="panel-body">
                                    <div class="loader">
                                    <div class="bouncywrap">

                                        <div class="dotcon dc1">
                                            <div class="dot"></div>
                                        </div>

                                        <div class="dotcon dc2">
                                            <div class="dot"></div>
                                        </div>

                                        <div class="dotcon dc3">
                                            <div class="dot"></div>
                                        </div>

                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer capriola">

                        <button type="button" class="btn btn-default " data-dismiss="modal"  ng-click="disableModal()">Close</button>
                    </div>
            </div>

        </div>
    </div>



<div class="modal fade" ng-controller="ModalCtrl" data-backdrop="static" id="moreInfoModalHotel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div ng-show="modalEnabled">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" ng-click="disableModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title capriola" id="myModalLabelHotel">More Information about {{moreInfoSelection.name}}</h4>
                </div>
            </div>
            <div class="modal-body">
                <div ng-show="modalEnabled">
                    <div class="container-fluid capriola">
                        <div class="row">
                            <div class="col-lg-6 capriola" >
                            <div class="row">
                                <b>Rating</b>
                            </div>
                            <div class="row">
                               <rating ng-model ="moreInfoSelection.rating" ></rating>
                            </div>
                        </div>
                            <div class="col-lg-6 capriola" >
                            <div class="row">
                                <b>Address</b>
                            </div>
                            <div class="row">
                                {{moreInfoSelection.address || 'Unknown'}}
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 capriola" >
                                <div class="panel panel-default">
                                    <div>
                                        <div class="text-center">Description</div>
                                        <div class="text-justify">
                                            {{moreInfoSelection.description}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="loaderEnabled">
                    <div class="container-fluid">
                        <div class="panel-body">
                            <div class="loader">
                                <div class="bouncywrap">
                                    <div class="dotcon dc1">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="dotcon dc2">
                                        <div class="dot"></div>
                                    </div>
                                    <div class="dotcon dc3">
                                         <div class="dot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer capriola">
                <button type="button" class="btn btn-default " data-dismiss="modal"  ng-click="disableModal()">Close</button>
            </div>
        </div>
    </div>
</div>
