<p>
    List culture {{cultureSelection}}
</p>
<div class="container">
    <div class="row">
        <div class="well">
            <h1 class="text-center">Culture</h1>
            <div class="list-group">
                <span ng-repeat="c in cultureList">
                    <div class="list-group-item">
                        <div class="col-md-3">
                            <i class="icon-col-centered">
                                <img ng-src="{{c.icon}}">
                            </i>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading">{{c.name}}</h4>
                            <p class="list-group-item-text">
                            <div class="row">
                                <p>Price {{c.price || 'Free'}}</p>
                            </div>
                            <div class="row">
                                <p>Rating {{c.rating}}</p>
                                <rating value="c.rating" readonly="true" ></rating>

                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-lg" ng-click="getCultureDetails(c.id)" href="#moreInfoModal" data-toggle="modal">
                                    More Info
                                </button>
                                <button class="btn btn-primary btn-lg" ng-click="addCultureItem(c)">
                                    Add
                                </button>
                                <button  class="btn btn-primary btn-lg" ng-click="removeCultureItem(c)" >
                                    Remove
                                </button>
                            </div>
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="panel panel-default">
                                <div class="panel-body image-panel">
                                    <carousel interval="intervalImages">
                                        <div ng-if="c.photos.length==0">
                                            <img ng-src="assets/images/empty_photo.png" style="position: center">

                                        </div>
                                        <slide ng-repeat="image in c.photos" active="image.active">
                                            <img class="image-item" ng-src="{{image.image}}" >
                                        </slide>
                                    </carousel>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</div>


