
<div class="row">
    <h1 class="text-center capriola">Entertainment</h1>
    <div class="list-group">
            <span ng-repeat="c in entertainmentSelection ">
                <div class="col-sm-4">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <div ng-if="c.photos.length==0">
                                    <img style="height: 220px;  width:100%;" src="assets/images/empty_photo.png"  alt="" />
                                </div>
                                <div ng-if="c.photos.length!=0">
                                    <img  style="height: 220px;  width:100%;" ng-src="{{c.photos[0].image}}"  alt="" />
                                </div>
                                <h4>{{c.name}}</h4>
                                <p style="color: white" class="capriola">Rating <rating style="color: white" ng-model="c.rating" readonly="true" ></rating></p>
                                <button class="btn btn-default btn-sm capriola button-item" ng-click="setEntertainmentDetails(c.id)" href="#moreInfoModalPlace" data-toggle="modal">
                                    Details <span class="glyphicon glyphicon-info-sign "></span>
                                </button>
                                <button class="btn btn-danger btn-sm capriola button-item" ng-click="removeEntertainmentItem(c)">
                                    Remove <span class="glyphicon glyphicon-minus-sign "></span>
                                </button>
                            </div>
                            <div class="product-overlay">
                                <div class="overlay-content">
                                    <div ng-if="c.description != null" style="display: block">
                                        <div class="col-sm-12 col-md-12 panel panel-default scrollable" style="max-height: 165px;overflow-y: auto">
                                            <div class="text-justify capriola" >{{c.description}}</div>
                                        </div>
                                    </div>
                                    <div ng-if="c.description == null" style="display: block">
                                        <h5>Description not available</h5>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
    </div>
    <div class="row">
        <div ng-if="infiniteScroll.itemList.length ==0">
            <div class="row capriola">
                <div class="col-md-4">
                    <img ng-src="assets/images/no_api.png" >
                </div>
                <div class="col-md-8">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3 class="text-center" style="vertical-align: middle;"> At this time API not respond, please reload the page</h3>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <div class="list-group">
        <div ng-show="infiniteScroll.itemList != null && infiniteScroll.itemList.length !=0">
            <div class="row">
                <div class="panel" style="background-color: #323231">
                    <div class="panel-body">
                        <div class="col-sm-4 col-md-4" style="display: inline">
                            <div class="capriola" style=" color: #0f71ba;">Search
                                <input type="text"  placeholder="Name" data-ng-model="elementListName" style="background: #f9f9f9"/>
                            </div>
                        </div>
                        <div class="col-sm-1 col-md-1" >
                            <div class=" text-capitalize item-filter" style=" color: #0f71ba;">Order by:</div>
                        </div>
                        <div class="col-sm-6 col-md-6" >

                            <select data-ng-model="elementListOrder" class="item-filter" style=" color: #0f71ba;">
                                <option value="name" selected>Name</option>
                                <option value="rating">Rating</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div infinite-scroll="infiniteScroll.nextPage(resource,setLoader)" infinite-scroll-distance="1" infinite-scroll-disabled="infiniteScroll.busy">
        <div class="container">

        <span ng-repeat="c in infiniteScroll.itemList | filter:{name:elementListName} | orderBy:elementListOrder">
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <div ng-if="c.photos.length==0">
                                        <img style="height: 220px;  width:100%;" src="assets/images/empty_photo.png"  alt="" />
                                    </div>
                                    <div ng-if="c.photos.length!=0">
                                        <img  style="height: 220px;  width:100%;" ng-src="{{c.photos[0].image}}"  alt="" />
                                    </div>
                                    <h4>{{c.name}}</h4>
                                    <p style="color: white" class="capriola">Rating <rating style="color: white" ng-model="c.rating" readonly="true" ></rating></p>
                                    <button class="btn btn-default btn-sm capriola button-item" ng-click="setEntertainmentDetails(c.id)" href="#moreInfoModalPlace" data-toggle="modal">
                                        Details <span class="glyphicon glyphicon-info-sign "></span>
                                    </button>
                                    <button class="btn btn-success btn-sm capriola button-item" ng-click="addEntertainmentItem(c)">
                                        Add <span class="glyphicon glyphicon-plus-sign "></span>
                                    </button>
                                </div>
                                <div class="product-overlay">
                                    <div class="overlay-content">
                                        <div ng-if="c.description != null" style="display: block">
                                            <div class="col-sm-12 col-md-12 panel panel-default scrollable" style="max-height: 165px;overflow-y: auto">
                                                <div class="text-justify capriola" >{{c.description}}</div>
                                            </div>
                                        </div>
                                        <div ng-if="c.description == null" style="display: block">
                                            <h5>Description not available</h5>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
    </div>
</div>
</div>
<div ng-show="loaderEnabled">
    <div class="row loader-wait">
        <div class="loader">
            <div class="bouncywrap">
                <div class="dotcon dc1">
                    <div class="dot"></div>
                </div>
                <div class="dotcon dc2">
                    <div class="dot"></div>
                </div>
                <div class="dotcon dc3">
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>



