<div class="page-header">

</div>
<div class="row">
    <div class="well">
        <h1 class="text-center capriola">Entertainment</h1>
            <div class="list-group">
                <div ng-show="entertainmentSelection != undefined && entertainmentSelection.length !=  0">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-4 col-md-4" style="display: inline">
                                <div class="capriola">Search
                                    <input type="text"  placeholder="Name" data-ng-model="elementSelectionName" />
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4">
                                <div class="text-capitalize item-filter">Order by:</div>
                                <select data-ng-model="elementSelectionOrder" class="item-filter">
                                    <option value="name" selected>Name</option>
                                    <option value="rating">Rating</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <span ng-repeat="c in entertainmentSelection | filter:{name:elementSelectionName} | orderBy:elementSelectionOrder">
                    <div class="list-group-item list-entertainment" style="background-color: #ffeeaa">
                        <div class=" bgc-fff  property-listing">
                            <div class="col-sm-3 col-md-3">
                                <div ng-if="c.photos.length==0">
                                    <img style="height: 220px;  width:100%;" ng-src="assets/images/empty_photo.png" >
                                </div>
                                <slide ng-repeat="image in c.photos" active="image.active">
                                    <img  style="height: 220px;  width:100%;" ng-src="{{c.photos[0].image}}" >
                                </slide>
                            </div>
                        </div>
                        <div class="col-sm-7 col-md-7" style="height:230px">
                            <p class="list-group-item-text">
                            <div class="row capriola">
                                <div class="col-sm-9 col-md-9">
                                    <b class="text-capitalize">{{c.name}}</b>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <p class="capriola">Rating <rating ng-model="c.rating" readonly="true" ></rating></p>
                                </div>
                                <div class="col-sm-3 col-md-3">
                                    <div ng-show="c.price != null">
                                        <p class="capriola">Price {{c.price}}</p>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="c.description != null" style="display: block">
                                <div class="col-sm-12 col-md-12 panel panel-default scrollable" style="max-height: 165px;overflow-y: auto">
                                    <div class="text-justify capriola" >{{c.description}}</div>
                                </div>
                            </div>
                            </p>
                        </div>
                        <div class="col-sm-2 col-md-2">
                            <div class="row text-center" style="padding-top: 50%;padding-bottom: 50%">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-sm capriola button-item" ng-click="setEntertainmentDetails(c.id)" href="#moreInfoModalPlace" data-toggle="modal">
                                        Details <span class="glyphicon glyphicon-info-sign "></span>
                                    </button>
                                </div>
                                <div class="col-md-12" style="padding-top: 10px">
                                    <button class="btn btn-danger btn-sm capriola button-item" ng-click="removeEntertainmentItem(c)">
                                        Remove <span class="glyphicon glyphicon-minus-sign "></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>

        <div class="list-group">
            <div ng-show="infiniteScroll.itemList != null && infiniteScroll.itemList.length !=0">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-sm-4 col-md-4" style="display: inline">
                            <div class="capriola">Search
                                <input type="text"  placeholder="Name" data-ng-model="elementListName" />
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <div class="text-capitalize item-filter">Order by:</div>
                            <select data-ng-model="elementListOrder" class="item-filter">
                                <option value="name" selected>Name</option>
                                <option value="rating">Rating</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div infinite-scroll="infiniteScroll.nextPage(resource,setLoader)" infinite-scroll-distance="2" infinite-scroll-disabled="infiniteScroll.busy">
                    <span ng-repeat="c in infiniteScroll.itemList | filter:{name:elementListName} | orderBy:elementListOrder">
                        <div class="list-group-item list-entertainment">
                            <div class=" bgc-fff  property-listing">
                                <div class="col-sm-3 col-md-3">
                                    <div ng-if="c.photos.length==0">
                                        <img style="height: 220px;  width:100%;" ng-src="assets/images/empty_photo.png" >
                                    </div>
                                    <slide ng-repeat="image in c.photos" active="image.active">
                                        <img  style="height: 220px;  width:100%;" ng-src="{{c.photos[0].image}}" >
                                    </slide>
                                </div>
                            </div>
                            <div class="col-sm-7 col-md-7" style="height:230px">
                                <p class="list-group-item-text">
                                <div class="row capriola">
                                    <div class="col-sm-9 col-md-9">
                                        <b class="text-capitalize">{{c.name}}</b>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4">
                                        <p class="capriola">Rating <rating ng-model="c.rating" readonly="true" ></rating></p>
                                    </div>
                                    <div class="col-sm-3 col-md-3">
                                        <div ng-show="c.price != null">
                                            <p class="capriola">Price {{c.price}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="c.description != null" style="display: block">
                                    <div class="col-sm-12 col-md-12 panel panel-default scrollable" style="max-height: 165px;overflow-y: auto">
                                        <div class="text-justify capriola" >{{c.description}}</div>
                                    </div>
                                </div>
                                </p>
                            </div>
                            <div class="col-sm-2 col-md-2">
                                <div class="row text-center" style="padding-top: 50%;padding-bottom: 50%">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-sm capriola button-item" ng-click="setEntertainmentDetails(c.id)" href="#moreInfoModalPlace" data-toggle="modal">
                                            Details <span class="glyphicon glyphicon-info-sign "></span>
                                        </button>
                                    </div>
                                    <div class="col-md-12" style="padding-top: 10px">
                                        <button class="btn btn-success btn-sm capriola button-item" ng-click="addEntertainmentItem(c)">
                                            Add <span class="glyphicon glyphicon-plus-sign "></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-show="loaderEnabled">
    <div class="row loader-wait">
        <div class="loader">
            <div class="bouncywrap">
                <div class="dotcon dc1">
                    <div class="dot"></div>
                </div>
                <div class="dotcon dc2">
                    <div class="dot"></div>
                </div>
                <div class="dotcon dc3">
                    <div class="dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>