<div class="page-header">


</div>
<div class="row">
    <div class="well">
        <h1 class="text-center capriola" >Shared Guides</h1>
            <div class="list-group">
                <div  ng-repeat="item in guides" >
                    <div class="list-group-item list-guides">
                        <div class=" bgc-fff pad-10 property-listing">
                            <div class="media">
                                <div class="col-sm-3 col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body image-panel">
                                            <carousel interval="intervalImages">
                                                <div ng-if="!item.photos">
                                                    <img class="image-item" ng-src="assets/images/empty_photo.png">
                                                </div>
                                                <div ng-if="item.photos.length>0">
                                                    <img style="height: 220px;  width:100%;" ng-src="{{item.photos[0].image}}" >
                                                </div>
                                            </carousel>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix visible-sm"></div>
                                <div class="col-md-7 capriola" style="height:230px">
                                    <p class="list-group-item-text">
                                        <div class="row">
                                            <b class="text-capitalize">{{item.name}}</b>
                                        </div>
                                        <div class="row" style="margin-top: 5px">
                                                <div class="col-sm-12 col-md-12 panel panel-default scrollable" style="max-height: 165px;overflow-y: auto">
                                                    <div class="text-justify capriola" >
                                                        <div ng-if="!item.description">
                                                            <p>No description available</p>
                                                        </div>
                                                        <div ng-if="item.description">
                                                            <div class="text-justify " >{{item.description}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </p>
                                </div>
                                <div class="col-sm-2 col-md-2">
                                    <div class="row text-center" style="padding-top: 50%;padding-bottom: 50%">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary pull-right"   ng-click="moreInfo(item.id)" >MORE INFO</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
