<div class="top-view">
    <div class="page-header" style="margin-top: 0px">
        <div class="vertical-container">
            <div class="row">

                <div class="col-md-12">
                    <h1 class="text-center subtitle">{{guide.name}}</h1>
                </div>

            </div>
        </div>
    </div>

    <div class="container " >
        <div class="row">
            <a ui-sref="guides({city_name:guide.city})" class="btn btn-primary btn-large btn-outlined big-button back-button col-md-2"><i class="glyphicon glyphicon-chevron-left pull-left"></i>Guides</a>
        </div>

        <map-markers  marker-array-selected="markerArraySelected" init-position="guide.city" map-id="guideMap"  type="roadmap" class="mapContainer" style="margin-top: 20px" ></map-markers>

    </div>



<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="well well-sm">
            <fieldset>
                <legend>Trip Details</legend>


                <!-- Message body -->
                <div class="form-group">
                    <label class="col-md-2 control-label" for="message" style="font-size: 18px">Description</label>
                    <div class="col-md-10">
                        <p class="form-control"  id="message" >{{guide.description}}</p>
                    </div>
                </div>



                <!-- Form actions -->
                <div class="form-group">

                    <label class="col-md-2 control-label" for="message" style="font-size: 18px">Rating</label>

                    <div class="col-md-10">
                        <rating ng-model="guide.rating" readonly="true" ></rating>
                    </div>
                </div>
            </fieldset>
            <legend>Trip Summary</legend>
            <div class="row" style="margin-bottom: 6px">
                <button class="btn btn-primary btn-outlined z-up" style="font-size: 17px;margin-left: 15px;" ng-click="changeView()">{{currentView}}</button>
            </div>
            <div id="{{makeMoment(date.day).format('DD-MM-YYYY')}}" class="panel-group" ng-repeat="date in guide.days">
                <div class="panel  panel-primary no-radius">
                    <div class="panel-heading no-radius  bigger-accordition " data-toggle="collapse" data-parent="#{{makeMoment(date.day).format('DD-MM-YYYY')}}" data-target="#{{makeMoment(date.day).format('DD-MM-YYYY')}}List">
                        <h4 class="panel-title bigger-title">
                            <a class="accordion-toggle bigger-title" >{{makeMoment(date.day).format('DD  MMMM YYYY')}}</a>
                        </h4>
                    </div>
                    <div id="{{makeMoment(date.day).format('DD-MM-YYYY')}}List" class="panel-collapse in">

                        <div class="panel-body" style="background-color:#e8e8e8">


                            <div ng-show="currentView == 'MAPS VIEW'">
                              <place-list-details  item-list="getPlaces(date)"  ></place-list-details>
                            </div>

                            <place-list-maps ng-show="currentView == 'DETAILS VIEW'" init-position="guide.city" selected-items="getPlaces(date)" map-id="date.day"></place-list-maps>
                        </div>





                    </div>




                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
