
    <div class="row">
        <div class="well">
            <h1 class="text-center">Hotel</h1>

            <div class="list-group">
                <div ng-show="loaderEnabled">
                    <div class="panel-body">
                        <div class="loader">
                            <div class="bouncywrap" style="margin-top: 700px;">

                                <div class="dotcon dc1">
                                    <div class="dot"></div>
                                </div>

                                <div class="dotcon dc2">
                                    <div class="dot"></div>
                                </div>

                                <div class="dotcon dc3">
                                    <div class="dot"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <span ng-repeat="c in hotelList">
                    <div class="list-group-item">
                        <div class="media col-md-3">
                            <figure class="pull-left">
                                <i class="fa fa-cloud-upload ">
                                    Image
                                </i>
                            </figure>
                        </div>
                        <div class="col-md-6">
                            <h4 class="list-group-item-heading">{{c.name}}</h4>
                            <p class="list-group-item-text">
                            <div class="row">
                                Price
                            </div>
                            <div class="row">
                                <p>Rating</p>
                                <rating ng-model="c.rating" readonly="true" ></rating>

                            </div>
                            <div class="row">
                                <button class="btn btn-primary btn-lg" ng-click="getHotelDetails(c.id)" href="#moreInfoModal" data-toggle="modal">
                                    More Info
                                </button>
                                <button class="btn btn-primary btn-lg" ng-click="addHotelItem(c)">
                                    <i class="icon-white icon-plus "></i>
                                </button>
                                <button  class="btn btn-primary btn-lg" ng-click="removeHotelItem(c)" >
                                    <i class="icon-white icon-minus"></i>
                                </button>
                            </div>
                            </p>
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="ratetext">Location</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
