.image-item {
  width: auto;
  height: auto;
  max-height:200px;
  max-width:240px;
  margin-left: auto;
  margin-right: auto;
}

.image-panel{
  max-height:230px;
  max-width:240px;
}

.icon-col-centered {
  padding-left: 80px;
  padding-top:50px
}


.votes {
  font-size: 47px;
  padding-right: 20px;
  color:#197BB5;
}

.list-group-item {
  height: auto;
  min-height: 250px;
}

.list-group-item {
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  font-family:sans-serif;
}

.list-group-item:hover, a.list-group-item:focus {
  border-left:10px solid #5CB85C;
  border-right:10px solid #5CB85C;
}
