<div class="container">
    <div class="row">
        <form novalidate name="form" ng-submit="next(form)">

            <div ng-show="submitted  && (form.end.$error.required || form.start.$error.required)" class="alert alert-danger">
                Field <strong>start date</strong> and <strong>end date</strong> are required
            </div>
            <div class="col-md-6">
                <h1>Start date:<span ng-show="dtstart">{{dtstart | date:'dd/MM/yyyy'}}</span></h1>
                <datepicker ng-model="dtstart" max-date="dtend"  show-weeks="false" name="start" class="well well-sm" required></datepicker>
            </div>

            <div class="col-md-6">
                <h1>End date:<span ng-show="dtend">{{dtend | date:'dd/MM/yyyy'}}</span></h1>
                <datepicker ng-model="dtend" min-date="dtstart" show-weeks="false" name="end" class="well well-sm" required></datepicker>

            </div>
            <button class="btn btn-primary pull-right"   >Next</button>
        </form>
    </div>


</div>