
/**
*list of dates in trip dates
*/

.btn-outlined {
  border-radius: 0;
}
.z-up{
  z-index: 1;
}

.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 10px;
}
.event-list > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 00px;
  margin: 0px 0px 20px;
}
.event-list > li:nth-child(odd) > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 44, 102);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
  background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
  display: none;
}
.event-list > li > time > .day {
  margin-top: 10px;
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > li time > .month {
  display: block;
  margin:auto;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.event-list > li time > .year {
  display: block;
  margin-bottom: 10px;
  font-size: 24pt;
  font-weight: 300;
  line-height: 1;
}
.event-list > li > img {
  width: 100%;
}



/**
*List of item in planning
*/
.event-list > li:nth-child(odd) .not-selected {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(180, 180, 180);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.subtitle{
  font-family: Capriola, sans-serif;
}

.selected-item {
  display: inline-block;
  width: 100%;
  color: black;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

.entertainment-color{
  background-color: #face23;
}

.culture-color {
  background-color: #21a9e1;
}

.food-color {
  background-color: #ee4749;

}

.hotel-color {
  background-color: #00a651;
}

.selected-color{
  border: 9px solid rgba(250, 240, 11, 0.85) ;
  border-radius: 4px;
  background-color: rgb(249, 252, 225);

}

/**
*accordition properties
*/
.accordion-toggle:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
}

.panel-heading {
  cursor: pointer;
}

.culture-group > h2{
  color: rgb(255,255,255);
}

.no-radius{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}
.bigger-accordition{
  height: 50px;
}
.bigger-title{
  height: 30px;
  font-size: 26px;
}


.fixed-size-image{
  width: 270px;
  height: 200px;
  padding: 0px;
  margin: 0px auto 10px;
}
.item-name{
 font-size: 18px;
 margin:auto 5px;
}


/*******************************************************************************************
/** PLANNING LIST ***************************************************************************
/*********************************************************************************************
*/


.timeline-icon {

  margin: 10px auto;
  color: #737881;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;

  line-height: 40px;
  font-size: 15px;
  float:none;
}

.icon-not-selected{
  background-color: rgb(56, 56, 56);
  -moz-box-shadow: 0 0 0 5px #a3a3a4;
  -webkit-box-shadow: 0 0 0 5px #a3a3a4;
  box-shadow: 0 0 0 5px #a3a3a4;
}
.icon-selected{
  background-color: rgb(249, 252, 225);
  -moz-box-shadow: 0 0 0 7px #e7cb18;
  -webkit-box-shadow: 0 0 0 7px #e7cb18;
  box-shadow: 0 0 0 7px #e7cb18;
}

.timeline-item {
  border: 6px solid  rgba(17, 17, 27, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  color: black;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}


.timeline-centered {
  position: relative;
  margin-bottom: 30px;
}




.timeline-list:before {
  content: '';
  position: absolute;
  display: block;
  width: 6px;
  background: #a3a3a4;
  left: 49.5%;
  top: 20px;
  bottom: 20px;
  z-index: -1;

}

.timeline-centered .timeline-entry {
  position: relative;
  /*width: 50%;
  float: right;*/
  margin-top: 5px;
  margin-bottom: 10px;
  clear: both;
}


.timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}






.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
}






.mapContainer {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;

}

