
/**
*list of dates in trip dates
*/

.btn-outlined {
  border-radius: 0;
}

.event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 10px;
}
.event-list > li {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 00px;
  margin: 0px 0px 20px;
}
.event-list > li:nth-child(odd) > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(197, 44, 102);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}
.event-list > li:nth-child(even) > time {
  background-color: rgb(165, 82, 167);
}
.event-list > li > time > span {
  display: none;
}
.event-list > li > time > .day {
  margin-top: 10px;
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
}
.event-list > li time > .month {
  display: block;
  margin:auto;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
}
.event-list > li time > .year {
  display: block;
  margin-bottom: 10px;
  font-size: 24pt;
  font-weight: 300;
  line-height: 1;
}
.event-list > li > img {
  width: 100%;
}


@media (max-width: 768px) {
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }

  .event-list > li > time,
  .event-list > li > img {
    display: inline-block;
  }

  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left;
  }

  .event-list > li > time,
  .event-list > li > img {
    width: 220px;
    height: 220px;
    padding: 0px;
    margin: 0px;
  }
}

/**
*List of item in planning
*/
.event-list > li:nth-child(odd) .not-selected {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(180, 180, 180);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}

/**
*accordition properties
*/
.accordion-toggle:after {
  font-family: 'FontAwesome';
  content: "\f078";
  float: right;
}

.panel-heading {
  cursor: pointer;
}

.culture-group > h2{
  color: rgb(255,255,255);
}

.no-radius{
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 0px;
}
.bigger-accordition{
  height: 50px;
}
.bigger-title{
  height: 30px;
  font-size: 26px;
}