#theMap {
  width:100%;
  height: 400px;
  background:#ccc;
  margin:  0;
}

.travel-selected{
  background-color: rgba(54, 91, 238, 0.78);
  color: white;

}
.travel-btn{
  font-weight: bold;
  font-size: 16px;
}
