<!DOCTYPE html>
<html ng-app="trippo" ng-controller="AppCtrl" xmlns="http://www.w3.org/1999/html">
  <head>
    <title ng-bind="pageTitle"></title>

      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
      <!--
      <script src="js/angular-ui-router.min.js"></script>
      <script src="app/app.js"></script>
      <script src="app/home/home.js"></script>
      <script src="common/navbar/nav.js"></script>
      <script src="app/log_in/log_in.js"></script>
      -->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
      <link href='https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css' rel='stylesheet' type='text/css'>



      <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

      <!-- prevent login modal to dissappear when clicj -->
    <script>
        $(function() {
            // Fix input element click problem
            $('.dropdown input').click(function(e) {
                e.stopPropagation();
            });
        });</script>
  </head>
  <body>

  <div ng-controller="NavBarCtrl" class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-header">
          <a class="navbar-brand"><i class="ion-ios7-pulse-strong"></i> Trippo</a>
      </div>
      <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li ng-if="isAuthenticated()"><a href="/#/profile">Profile</a></li>
      </ul>
      <ul ng-if="!isAuthenticated()" class="nav navbar-nav pull-right">
          <li><a ui-sref="login">Login</a></li>
          <li><a ui-sref="signup">Sign up</a></li>
      </ul>
      <ul ng-if="isAuthenticated()" class="nav navbar-nav pull-right">
          <li><a href="/#/logout">Logout</a></li>
      </ul>
  </div>
  <div ui-view="main" class="fill"></div>



  </body>
</html>
