<script type="text/ng-template" id="customTemplate.html">
    <a class="col-md-12">
        <span bind-html-unsafe="match.label| typeaheadHighlight:query"></span>
       <i>({{match.model.state}})</i>
    </a>
</script>


<div class="home_back fill" >
    <div class="home">
        <img src="assets/images/trippo.png" class="center" />
        <form name="'city-form" class="form-wrapper  cf" autocomplete="off">



            <input id="city" name="city"  type="text" placeholder="Search here..." class="form-control col-md-12 typeahead"
                   ng-model="selected_city"
                   typeahead="city as city.name for city in cities | filter:$viewValue | limitTo:8"
                   typeahead-template-url="customTemplate.html">
            <button id="submit" type="submit" ng-click="search()">Search</button>
        </form>


    </div>
</div>




